<div class="card-header d-flex justify-content-between">
  <div>
    <h6 class='m-0'><b>Strain: <%= @petri_run.strain %></b></h6>
  </div>
  <div>
    <%= link_to 'Edit', edit_mycelium_petri_run_path(@petri_run.mycelium, @petri_run), class: 'btn btn-info btn-sm' %>
    <%= link_to 'Back', mycelium_petri_runs_path(@petri_run.mycelium), class: 'btn btn-info btn-sm' %>
  </div>
</div>


<ul class='list-group'>
    <li class='list-group-item'>
      <p><b>Mushroom:</b>
        <%= @petri_run.mycelium.name %>
      </p>
    </li>

    <li class='list-group-item'>
      <p><b>Description:</b>
        <%= @petri_run.description %>
      </p>
    </li>

    <li class='list-group-item'>
      <p><b>Agar Recipe:</b>
        <%= @petri_run.recipe %>
      </p>
    </li>
    </li>
      <%# If buttons logic  %>
    <li class='list-group-item'>
      <div class="d-flex justify-content-between">
        <p><b>Inoculated:</b>
          <% if @petri_run.inoculated? %>
          <small><%= time_ago_in_words @petri_run.inoculated_at %> ago</small>
            <%= link_to '#', class: 'btn btn-success', data: { reflex: 'click->PetriRun#mark_not_inoculated', id: @petri_run.id } do %>
            <i class='fa fa-check'></i>
            <% end %>
            <li class='list-group-item'>
              <div class="d-flex justify-content-between">
                  <p><b>Run started:</b>
                    <% if @petri_run.run_started? %>
                    <small><%= time_ago_in_words @petri_run.run_started_at %> ago</small>
                      <%= link_to '#', class: 'btn btn-success', data: { reflex: 'click->PetriRun#mark_not_started', id: @petri_run.id } do %>
                      <i class='fa fa-check'></i>
                      <% end %>
                      <li class='list-group-item'>
                          <div class="d-flex justify-content-between">
                            <p><b>Fully colonised:</b>
                              <% if @petri_run.fully_colonised? %>
                              <small><%= time_ago_in_words @petri_run.fully_colonised_at %> ago</small>
                                <%= link_to '#', class: 'btn btn-success', data: { reflex: 'click->PetriRun#mark_not_fully_colonised', id: @petri_run.id } do %>
                                <i class='fa fa-check'></i>
                                <% end %>
                              <% else %>
                                <%= link_to '#', class: 'btn btn-dark', data: { reflex: 'click->PetriRun#mark_fully_colonised', id: @petri_run.id } do %>
                                <i class='fa fa-check'></i>
                                <% end %>
                              <% end %>
                            </p>
                          </div>
                        </li>
                    <% else %>
                      <%= link_to '#', class: 'btn btn-dark', data: { reflex: 'click->PetriRun#mark_started', id: @petri_run.id } do %>
                      <i class='fa fa-check'></i>
                      <% end %>
                    <% end %>
                  </p>
                </div>
            </li>
          <% else %>
            <%= link_to '#', class: 'btn btn-dark', data: { reflex: 'click->PetriRun#mark_inoculated', id: @petri_run.id } do %>
            <i class='fa fa-check'></i>
            <% end %>
          <% end %>
        </p>
      </div>
    </li>

    <%# Log entries: %>
    <li class='list-group-item'>
    </li>

</ul>


